<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="index.css">
</head>

<body>

  <!-- <h2>Responsive Form</h2>
<p>Resize the browser window to see the effect. When the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other.</p> -->

  <div class="top-nav">
    <div class="img">
      <img src="logo.png" alt="" srcset="">

    </div>
    <div class="streeetlight-guardian">
      <p class="streeetlight1">Streeetlight</p>
      <p class="streeetlight2">Guardian</p>
    </div>


  </div>
  <div class="container">
    <form action="/" method="post">
      <div class="row">
        <div class="col-25">
          <label>Electricity- Board :</label>
        </div>
        <div class="col-75">
          <input type="text" name="electricityBoard">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="poleNumber">Pole Number : </label>
        </div>
        <div class="col-75">
          <input type="text" name="poleNumber" id="poleNumber">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>City : </label>
        </div>
        <div class="col-75">
          <input type="text" name="city">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Sub-station : </label>
        </div>
        <div class="col-75">
          <input type="text" name="subStation">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Complaint Header</label>
        </div>
        <div class="col-75">
          <select name="complaintHeader">
            <option value="none" selected disabled hidden>Select an Option</option>
            <option value="Non-functional Streeetlight">Non-functional Streeetlight</option>
            <option value="Damaged Pole">Damaged Pole</option>
            <option value="other">Other</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Complaint Details</label>
        </div>
        <div class="col-75">
          <textarea placeholder="Write more.." style="height:200px" name="complaintDetails"></textarea>
        </div>
      </div>
      <div class="row">
            <button type="submit">Submit</button>
      </div>
    </form>
  </div>

</body>

</html>